main{
    width: 100%;
    height: 100vh;
    padding: 50vh 0 0 0;
}
main div{
    transform: translateY(-50%);
    margin: auto;
    height: 100%;
    aspect-ratio: 1/1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: space-evenly;
    background-color: white;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.397);
}

main div h1{
    text-align: center;
    color: var(--cor_letra)
}

main div a{
    text-decoration: none;
    color: var(--cor_destaque);
    font-size: 1.5rem;
    display: block;
    text-align: center;
    background: none;
    border: none;
    padding: .3rem;
    border-radius: 10px;
    border: 1px solid var(--cor_destaque);
}

main div a[name="agro"]{
    background-color: var(--cor_destaque);
    color:white;
}